services:
  atlas:
    build:
      context: ./database
      dockerfile: Dockerfile

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile

  ui:
    build: 
      context: ./ui 
      dockerfile: Dockerfile 

