#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #b0b0b0aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #b0b0b0aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  gap: 10px;
}

.read-the-docs {
  color: #888;
}

h1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
